@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--radius: 0.6rem;
	--brand: 29 143 235; /* brand-500 in rgb */
}

.bg-hero-gradient {
	background: linear-gradient(145deg, theme('colors.brand.600'), theme('colors.brand.400'));
}

.text-gradient-brand {
	background: linear-gradient(90deg, theme('colors.brand.500'), theme('colors.brand.300'));
	-webkit-background-clip: text;
	color: transparent;
}
